# Judgels Core Configuration
JUDGELS_VERSION=v2.23.0
DB_ROOT_PASSWORD=
DB_NAME=judgels
DB_USER=judgelsuser
DB_PASSWORD=

RABBITMQ_USER=judgels
RABBITMQ_PASSWORD=

SUPERADMIN_PASSWORD=

# Judgels Grader Configuration
RABBITMQ_HOST=judgels-rabbitmq
RSYNC_USER=user
RSYNC_HOST=localhost